main {
    width: 90rem;
    height: 81.8125rem;
    background-color: #FFF;
}

h1 {
    color: #1F1F1F;
    text-align: left;
    font-family: var(--alternative-font);
    font-size: var(--font-large);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: var(--spacing-1);
}

h2 {
    color: #000;
    text-align: right;
    font-family: var(--base-font);
    font-size: var(--font-large);
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0.06rem;
}

p {
    text-align: center;
}

.fillText {
    display: flex;
    border-bottom: 1px solid #F33;
    align-items: center;
    padding: 1rem;
    font-size: var(--font-medium);
}

.options {
    display: flex;
    
}


.productName {
    display: flex;
}

.productInfo {
    display: flex;
}

.productPayment {
    display:flex;
}

.uploadImages{
    display: flex;
}

.productImages{
    display: flex;
    gap: 20px;
}

.backImg, .frontImg{
    width: 150px;
    height: 150px;
    border-bottom: 1px solid red;
}