

main {
    height: 90rem;
}

.hero {
    padding: 2rem 5rem;
}

select {
    border-radius: 3px;
    border: 1px solid var(--dark-bg-solid);
    padding: 0.5rem;
}

.card-item__tag {
    font-size: var(--font-xsmall);
    background-color: var(--primary-solid);
    color: var(--light-font-solid);
    padding: var(--spacing-8) var(--spacing-12);
    border: none;
    width: 175px;
    height: 44px;
}

article {
    gap:var(--spacing-12);
    margin-bottom: var(--spacing-12);    
    align-items: center;
    margin-bottom: 1rem;
}

.title {
    font-size: 4.2rem;
    margin-bottom: 5rem;
}

h3 {
    font-size: var(--font-large);
    font-weight: 400;
}

textarea  {  
   font-family: var(--base-font);
   font-size: var(--font-large);
   height: 195px;
   width: 1012px;
}